In [1]:
#Import Modules
import pandas as pd
import requests
import cbsodata

In [8]:
# Dataset 83671NED 
data = pd.DataFrame(cbsodata.get_data(
    '83671NED' , 
    filters="Perioden eq '2019KW01' and Opdrachtgever eq 'T001209' and Eigendom eq 'T001258'",  # Eigendom eq T001258 means we want the total numbers
    select=['RegioS','Perioden','Opdrachtgever','Eigendom', 'Woningen_2']))

In [10]:
data = data.groupby('Perioden').sum()

In [11]:
data

                  Woningen_2
Perioden
2019 1e kwartaal     12594.0

In [12]:
# Dataset 83668NED
df = pd.DataFrame(cbsodata.get_data(
    '83668NED' , 
    # Here we retrieve data for specifc months YYYY%%MM
    filters="(Perioden eq '2019MM01') or (Perioden eq '2019MM02') or (Perioden eq '2019MM03')", 
    select=['Perioden', 'Woningen_1', 'Wooneenheden_2', 'Recreatiewoningen_3']))

In [13]:
df

        Perioden  Woningen_1  Wooneenheden_2  Recreatiewoningen_3
0   2019 januari        4070               0                   16
1  2019 februari        3941               0                   95
2     2019 maart        5116               0                   32

In [14]:
total = df['Woningen_1'].sum()

In [15]:
total

13127