In [ ]:
#Import Modules
from logger import setup_custom_logger
from file_writer import file_writer
import pandas as pd
import requests
import cbsodata
import datetime

In [ ]:
# Setup Logger
try:
    logger = setup_custom_logger("E002_Unemployment_Rate")
    logger.info('starting')
except:
    logger.exception('logger could not be loaded')
    raise

2021-03-26 16:47:17 INFO     E002_Unemployment_Rate starting

INFO:E002_Unemployment_Rate:starting

In [ ]:
try:
    # Get current date information
    now = datetime.datetime.now()
    
    logger.info('datetime loaded')
    yearMin = now.year-3
    yearMax = now.year
    
    # Values you can load
    # now.year
    # now.month
    # now.day
    # now.hour
    # now.minute
except:
    logger.exception('datetime could not be loaded')
    logger.info('set yearmin to a default value')
    # Set default values for fallback
    yearMin = 2010
    yearMax = 2030
    raise

2021-03-26 16:47:17 INFO     E002_Unemployment_Rate datetime loaded

INFO:E002_Unemployment_Rate:datetime loaded

In [ ]:
# Dataset 80590ned
dataset_id = '80590ned'

# Table definitions

# Geslacht: T001038 = Totaal (man/vrouw)
# Leeftijd: 52052   = 15 tot 75 jaar
# Perioden: YYYY%%MM
# Seizoengecorrigeerd_2 = x1000_Beroepsbevolking_Seizoengecorrigeerd
# Seizoengecorrigeerd_4 = x1000_Werkzame_Beroepsbevolking_Seizoengecorrigeerd
# Seizoengecorrigeerd_6 = x1000_Werkloze_Beroepsbevolking_Seizoengecorrigeerd
# Seizoengecorrigeerd_8 = Werkloosheidspeercentage_Seizoengecorrigeerd_procenten
# Seizoengecorrigeerd_12 = Bruto_Arbeitsparticipatie_Seizoengecorrigeerd_procenten
# Seizoengecorrigeerd_14 = Netto_Arbeitsparticipatie_Seizoengecorrigeerd_procenten

In [ ]:
try:
    logger.info(f'Retrieve data from dataset {dataset_id}')
    data = pd.DataFrame(cbsodata.get_data(
    f'{dataset_id}',
    filters=f"substring(Perioden,0,4) ge '{yearMin}'", # These spaces need to be there, they are part of the value..
    select=["Geslacht", "Leeftijd", "Perioden", "Seizoengecorrigeerd_2", "Seizoengecorrigeerd_4", "Seizoengecorrigeerd_6", "Seizoengecorrigeerd_8", "Seizoengecorrigeerd_12", "Seizoengecorrigeerd_14" ]))
except:
    logger.exception('error loading data from CBS Statline')
    raise

2021-03-26 16:47:18 INFO     E002_Unemployment_Rate Retrieve data from dataset 80590ned

INFO:E002_Unemployment_Rate:Retrieve data from dataset 80590ned

In [ ]:
data

,Geslacht,Leeftijd,Perioden,Beroepsbevolking_Seizoengecorrigeerd,Werkzame_Beroepsbevolking_Seizoengecorrigeerd,Werkloze_Beroepsbevolking_Seizoengecorrigeerd,Werkloosheidspeercentage_Seizoengecorrigeerd_procenten,Bruto_Arbeitsparticipatie_Seizoengecorrigeerd_procenten,Netto_Arbeitsparticipatie_Seizoengecorrigeerd_procenten
1,Totaal,15 tot 75 jaar,2018-01-01,9060000.0,8680000.0,9.060000e+09,4.2,70.2,67.2
2,Totaal,15 tot 75 jaar,2018-02-01,9054000.0,8687000.0,9.054000e+09,4.1,70.1,67.2
3,Totaal,15 tot 75 jaar,2018-03-01,9069000.0,8712000.0,9.069000e+09,3.9,70.2,67.4
5,Totaal,15 tot 75 jaar,2018-04-01,9079000.0,8724000.0,9.079000e+09,3.9,70.2,67.5
6,Totaal,15 tot 75 jaar,2018-05-01,9099000.0,8747000.0,9.099000e+09,3.9,70.4,67.6
7,Totaal,15 tot 75 jaar,2018-06-01,9116000.0,8762000.0,9.116000e+09,3.9,70.5,67.7
9,Totaal,15 tot 75 jaar,2018-07-01,9124000.0,8776000.0,9.124000e+09,3.8,70.5,67.8
10,Totaal,15 tot 75 jaar,2018-08-01,9160000.0,8807000.0,9.160000e+09,3.9,70.8,68.0
11,Totaal,15 tot 75 jaar,2018-09-01,9171000.0,8828000.0,9.171000e+09,3.7,70.8,68.2
13,Totaal,15 tot 75 jaar,2018-10-01,9173000.0,8836000.0,9.173000e+09,3.7,70.8,68.2
14,Totaal,15 tot 75 jaar,2018-11-01,9192000.0,8866000.0,9.192000e+09,3.5,70.9,68.4
15,Totaal,15 tot 75 jaar,2018-12-01,9197000.0,8869000.0,9.197000e+09,3.6,71.0,68.4
17,Totaal,15 tot 75 jaar,2019-01-01,9220000.0,8891000.0,9.220000e+09,3.6,71.1,68.6
18,Totaal,15 tot 75 jaar,2019-02-01,9217000.0,8905000.0,9.217000e+09,3.4,71.0,68.6
19,Totaal,15 tot 75 jaar,2019-03-01,9224000.0,8916000.0,9.224000e+09,3.3,71.0,68.7
21,Totaal,15 tot 75 jaar,2019-04-01,9224000.0,8924000.0,9.224000e+09,3.3,71.0,68.7
22,Totaal,15 tot 75 jaar,2019-05-01,9239000.0,8937000.0,9.239000e+09,3.3,71.1,68.7
23,Totaal,15 tot 75 jaar,2019-06-01,9265000.0,8953000.0,9.265000e+09,3.4,71.2,68.8
25,Totaal,15 tot 75 jaar,2019-07-01,9267000.0,8954000.0,9.267000e+09,3.4,71.2,68.8
26,Totaal,15 tot 75 jaar,2019-08-01,9279000.0,8958000.0,9.279000e+09,3.5,71.2,68.8
27,Totaal,15 tot 75 jaar,2019-09-01,9299000.0,8976000.0,9.299000e+09,3.5,71.3,68.8
29,Totaal,15 tot 75 jaar,2019-10-01,9319000.0,8996000.0,9.319000e+09,3.5,71.4,69.0
30,Totaal,15 tot 75 jaar,2019-11-01,9319000.0,8995000.0,9.319000e+09,3.5,71.4,68.9
31,Totaal,15 tot 75 jaar,2019-12-01,9330000.0,9028000.0,9.330000e+09,3.2,71.4,69.1
34,Totaal,15 tot 75 jaar,2020-01-01,9343000.0,9059000.0,9.343000e+09,3.0,71.5,69.3
35,Totaal,15 tot 75 jaar,2020-02-01,9332000.0,9057000.0,9.332000e+09,2.9,71.4,69.3
36,Totaal,15 tot 75 jaar,2020-03-01,9313000.0,9040000.0,9.313000e+09,2.9,71.2,69.1
38,Totaal,15 tot 75 jaar,2020-04-01,9194000.0,8880000.0,9.194000e+09,3.4,70.3,67.9
39,Totaal,15 tot 75 jaar,2020-05-01,9186000.0,8856000.0,9.186000e+09,3.6,70.2,67.7
40,Totaal,15 tot 75 jaar,2020-06-01,9305000.0,8901000.0,9.305000e+09,4.3,71.1,68.0
42,Totaal,15 tot 75 jaar,2020-07-01,9325000.0,8905000.0,9.325000e+09,4.5,71.2,68.0
43,Totaal,15 tot 75 jaar,2020-08-01,9334000.0,8909000.0,9.334000e+09,4.6,71.3,68.0
44,Totaal,15 tot 75 jaar,2020-09-01,9319000.0,8906000.0,9.319000e+09,4.4,71.1,68.0
46,Totaal,15 tot 75 jaar,2020-10-01,9352000.0,8946000.0,9.352000e+09,4.3,71.3,68.2
47,Totaal,15 tot 75 jaar,2020-11-01,9352000.0,8975000.0,9.352000e+09,4.0,71.3,68.4
48,Totaal,15 tot 75 jaar,2020-12-01,9348000.0,8979000.0,9.348000e+09,3.9,71.3,68.5
51,Totaal,15 tot 75 jaar,2021-01-01,9340000.0,9004000.0,9.340000e+09,3.6,71.2,68.6
52,Totaal,15 tot 75 jaar,2021-02-01,9364000.0,9024000.0,9.364000e+09,3.6,71.4,68.8

In [6]:
# Remove quaterly and yearly data
try:
    data = data[data["Perioden"].str.contains("kwartaal")==False]
    data = data[data['Perioden'].map(len) > 4 ]
except:
    logger.exception('Perioden filter could not be applied')
    raise

In [ ]:
# Date formatting and quarter format
try:
    data["Seizoengecorrigeerd_2"] = data["Seizoengecorrigeerd_2"] * 1000
    data["Seizoengecorrigeerd_4"] = data["Seizoengecorrigeerd_4"] * 1000
    data["Seizoengecorrigeerd_6"] = data["Seizoengecorrigeerd_2"] * 1000
except:
    logger.exception('Values could not get multiplied')
    raise

In [ ]:
# Date formatting and quarter format
try:
    data['Perioden'] = data['Perioden'].str.replace(' januari', '-01')
    data['Perioden'] = data['Perioden'].str.replace(' februari', '-02')
    data['Perioden'] = data['Perioden'].str.replace(' maart', '-03')
    data['Perioden'] = data['Perioden'].str.replace(' april', '-04')
    data['Perioden'] = data['Perioden'].str.replace(' mei', '-05')
    data['Perioden'] = data['Perioden'].str.replace(' juni', '-06')
    data['Perioden'] = data['Perioden'].str.replace(' juli', '-07')
    data['Perioden'] = data['Perioden'].str.replace(' augustus', '-08')
    data['Perioden'] = data['Perioden'].str.replace(' september', '-09')
    data['Perioden'] = data['Perioden'].str.replace(' oktober', '-10')
    data['Perioden'] = data['Perioden'].str.replace(' november', '-11')
    data['Perioden'] = data['Perioden'].str.replace(' december', '-12')
    data['Perioden'] = pd.to_datetime(data["Perioden"]).dt.date
except:
    logger.exception('Columns could not be changed to monthly numbers or formatted to different date')
    raise

In [ ]:
# Rename columns
try:
    data = data.rename(columns={
    "Seizoengecorrigeerd_2": "Beroepsbevolking_Seizoengecorrigeerd",
    "Seizoengecorrigeerd_4" : "Werkzame_Beroepsbevolking_Seizoengecorrigeerd",
    "Seizoengecorrigeerd_6" : "Werkloze_Beroepsbevolking_Seizoengecorrigeerd",
    "Seizoengecorrigeerd_8" : "Werkloosheidspeercentage_Seizoengecorrigeerd_procenten",
    "Seizoengecorrigeerd_12" : "Bruto_Arbeitsparticipatie_Seizoengecorrigeerd_procenten", 
    "Seizoengecorrigeerd_14" : "Netto_Arbeitsparticipatie_Seizoengecorrigeerd_procenten"
})

except:
    logger.exeption('Columns could not be renamed')
    raise

In [ ]:
# Export dataFrame to Excel file
try:
    data.to_csv("output/E003_UnemploymentRate.csv")
    file_writer(data, "E003_UnemploymentRate")
except:
    logger.exception('dataFrame could not be exported to output folder')