<h1><b> Business Understanding<b></h1>

<h1><b>Data understanding

Import modules required

In [1]:
# First we import the module and add the "as pd" after it. This means we can use
# the modules functionality by typing pd.<scomething>
import pandas as pd
import requests

Data request to data set (https://opendata.cbs.nl/statline/#/CBS/nl/dataset/82900NED/table?fromstatweb)

In [2]:
# Import Modules
import pandas as pd
import requests
import cbsodata
pd.set_option('display.max_rows', 500)
# Downloaden van tabeloverzicht
toc = pd.DataFrame(cbsodata.get_table_list())

# Downloading of entire dataset
df = pd.DataFrame(cbsodata.get_data('82900NED'))

df

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
0,0,Totaal,Nederland,2012,7386743.0,4182889.0,3121980.0,2269883.0,852097.0,81874.0
1,1,Totaal,Nederland,2013,7449298.0,4216760.0,3171057.0,2277246.0,893811.0,61481.0
2,2,Totaal,Nederland,2014,7535315.0,4238259.0,3217156.0,2275389.0,941767.0,79900.0
3,3,Totaal,Nederland,2015,7587964.0,4266966.0,3244238.0,2304505.0,939733.0,76760.0
4,4,Totaal,Nederland,2016,7641323.0,4300406.0,3256930.0,2281742.0,975188.0,83987.0
...,...,...,...,...,...,...,...,...,...,...
13306,13306,Niet bewoonde woningen,Zwolle,2016,1582.0,573.0,889.0,407.0,482.0,120.0
13307,13307,Niet bewoonde woningen,Zwolle,2017,1641.0,533.0,1007.0,481.0,526.0,101.0
13308,13308,Niet bewoonde woningen,Zwolle,2018,1511.0,492.0,937.0,436.0,501.0,82.0
13309,13309,Niet bewoonde woningen,Zwolle,2019,1605.0,532.0,1060.0,508.0,552.0,13.0
13310,13310,Niet bewoonde woningen,Zwolle,2020,1582.0,519.0,1026.0,437.0,589.0,37.0

In [3]:
# convert column "a" of a DataFrame
df["Perioden"] = pd.to_numeric(df["Perioden"])
df.head(10)

,ID,StatusVanBewoning,RegioS,Perioden,TotaleWoningvoorraad_1,Koopwoningen_2,TotaalHuurwoningen_3,EigendomWoningcorporatie_4,EigendomOverigeVerhuurders_5,EigendomOnbekend_6
0,0,Totaal,Nederland,2012,7386743.0,4182889.0,3121980.0,2269883.0,852097.0,81874.0
1,1,Totaal,Nederland,2013,7449298.0,4216760.0,3171057.0,2277246.0,893811.0,61481.0
2,2,Totaal,Nederland,2014,7535315.0,4238259.0,3217156.0,2275389.0,941767.0,79900.0
3,3,Totaal,Nederland,2015,7587964.0,4266966.0,3244238.0,2304505.0,939733.0,76760.0
4,4,Totaal,Nederland,2016,7641323.0,4300406.0,3256930.0,2281742.0,975188.0,83987.0
5,5,Totaal,Nederland,2017,7686178.0,4321868.0,3283957.0,2273731.0,1010226.0,80353.0
6,6,Totaal,Nederland,2018,7740984.0,4386769.0,3275965.0,2268383.0,1007582.0,78250.0
7,7,Totaal,Nederland,2019,7814912.0,4487894.0,3299639.0,2295414.0,1004225.0,27379.0
8,8,Totaal,Nederland,2020,7891786.0,4517921.0,3342018.0,2294219.0,1047799.0,31847.0
9,9,Totaal,Noord-Nederland (LD),2012,772104.0,467487.0,295066.0,217783.0,77283.0,9551.0

<h1><b>Data evaluation

<h3><b>Modeling, Evaluation, Deployment in qliksense