In [20]:
#Import Modules
import pandas as pd
import requests
import cbsodata

In [21]:
# Set configuration of Pandas

In [22]:
# Better way to filter the data
# Create the dataframe but pass filters as argument for the API call
# Opdrachtgever: T001209 = Totaal Opdrachtgevers
# Eigendom: A028867 = Huurwoning
# Eigendom:A028868 = Koopwoning

huurwoningen = pd.DataFrame(cbsodata.get_data(
    '83671NED' , 
    filters="Perioden gt '2012' and Opdrachtgever eq 'T001209' and Eigendom eq 'A028867'", 
    select=['RegioS','Perioden','Opdrachtgever','Eigendom', 'Woningen_2']))

In [23]:
koopwoningen = pd.DataFrame(cbsodata.get_data(
    '83671NED' , 
    filters="Perioden gt '2012' and Opdrachtgever eq 'T001209' and Eigendom eq 'A028868'", 
    select=['RegioS','Perioden','Opdrachtgever','Eigendom', 'Woningen_2']))

In [24]:
# Rename columns
huurwoningen = huurwoningen.rename(columns={"Woningen_2": "Huurwoningen_hoeveelheid"})
koopwoningen = koopwoningen.rename(columns={"Woningen_2": "Koopwoningen_hoeveelheid"})

In [25]:
# Merge two dataFrames to one
df = pd.merge(huurwoningen, koopwoningen,  how='left', left_on=['RegioS','Perioden'], right_on = ['RegioS','Perioden'])

In [26]:
df = df.groupby('Perioden').sum()

In [27]:
df

                  Huurwoningen_hoeveelheid  Koopwoningen_hoeveelheid
Perioden
2012 1e kwartaal                    3619.0                    5119.0
2012 2e kwartaal                    3864.0                    6075.0
2012 3e kwartaal                    4267.0                    5757.0
2012 4e kwartaal                    3716.0                    4820.0
2013 1e kwartaal                    2749.0                    3224.0
2013 2e kwartaal                    2914.0                    3676.0
2013 3e kwartaal                    2421.0                    3392.0
2013 4e kwartaal                    2554.0                    4925.0
2014 1e kwartaal                    2673.0                    4973.0
2014 2e kwartaal                    2397.0                    6138.0
2014 3e kwartaal                    4424.0                    7313.0
2014 4e kwartaal                    4170.0                    7310.0
2015 1e kwartaal                    5052.0                   12469.0
2015 2e kwartaal                    5186.0                    9456.0
2015 3e kwartaal                    3663.0                    6595.0
2015 4e kwartaal                    3017.0                    7640.0
2016 1e kwartaal                    3173.0                    7289.0
2016 2e kwartaal                    3570.0                    8503.0
2016 3e kwartaal                    4671.0                    8484.0
2016 4e kwartaal                    4677.0                   10714.0
2017 1e kwartaal                    6212.0                    9962.0
2017 2e kwartaal                    5262.0                   10382.0
2017 3e kwartaal                    6804.0                   12188.0
2017 4e kwartaal                    5114.0                   11867.0
2018 1e kwartaal                    5659.0                   10743.0
2018 2e kwartaal                    3978.0                   10412.0
2018 3e kwartaal                    4644.0                   11719.0
2018 4e kwartaal                    7836.0                   12255.0
2019 1e kwartaal                    4731.0                    7863.0
2019 2e kwartaal                    4052.0                    8927.0
2019 3e kwartaal                    4021.0                    8747.0
2019 4e kwartaal                    6221.0                   11028.0
2020 1e kwartaal                    5779.0                    9228.0
2020 2e kwartaal                    4618.0                    9490.0
2020 3e kwartaal                    5241.0                    9965.0
2020 4e kwartaal                    6214.0                   11187.0

In [19]:
df.to_excel("newBuildingPermits.xlsx")

        Perioden  Woningen_1  Wooneenheden_2  Recreatiewoningen_3
0   2019 januari        4070               0                   16
1  2019 februari        3941               0                   95
2     2019 maart        5116               0                   32