In [ ]:
#Import Modules
import pandas as pd
import requests
import cbsodata

In [ ]:
# Set configuration of Pandas

In [ ]:
# Download data from dataset 
data = pd.DataFrame(cbsodata.get_data('83671NED'))

In [ ]:
# Select only the values where the "Eigendom" is not equal to Totaal
KoopAndHuurWoningen = data.loc[data['Eigendom'] != "Totaal"]

In [ ]:
# We only want the total numbers so filter out all values where the "Opdrachtgever" is not Totaal opdrachtgevers
TotaalOpdrachtGevers = KoopAndHuurWoningen.loc[KoopAndHuurWoningen['Opdrachtgever'] == "Totaal opdrachtgevers"]

In [ ]:
# Check how many Huurwoningen
Huurwoningen = TotaalOpdrachtGevers.loc[TotaalOpdrachtGevers['Eigendom'] == "Huurwoningen"]

In [ ]:
Huurwoningen

In [ ]:
# Check how many KoopWoningen
Koopwoningen = TotaalOpdrachtGevers.loc[TotaalOpdrachtGevers['Eigendom'] == "Koopwoningen"]

In [ ]:
Koopwoningen

In [ ]:
# Rename the columns accordingly

In [33]:
# Better way to filter the data
# Create the dataframe but pass filters as argument for the API call
# Opdrachtgever: T001209 = Totaal Opdrachtgevers
# Eigendom: A028867 = Huurwoning
# Eigendom:A028868 = Koopwoning
data = pd.DataFrame(cbsodata.get_data('83671NED' , filters="Perioden gt '2012' and Opdrachtgever eq 'T001209' and Eigendom eq 'A028867'", select=['RegioS','Perioden','Opdrachtgever','Eigendom', 'Woningen_2']))

In [34]:
# Rename columns
data = data.rename(columns={"Woningen_2": "Hoeveelheid"})

In [35]:
data

,RegioS,Perioden,Opdrachtgever,Eigendom,Hoeveelheid
0,Aa en Hunze,2012 1e kwartaal,Totaal opdrachtgevers,Huurwoningen,0.0
1,Aa en Hunze,2012 2e kwartaal,Totaal opdrachtgevers,Huurwoningen,0.0
2,Aa en Hunze,2012 3e kwartaal,Totaal opdrachtgevers,Huurwoningen,0.0
3,Aa en Hunze,2012 4e kwartaal,Totaal opdrachtgevers,Huurwoningen,0.0
4,Aa en Hunze,2013 1e kwartaal,Totaal opdrachtgevers,Huurwoningen,0.0
...,...,...,...,...,...
15691,Zwolle,2019 4e kwartaal,Totaal opdrachtgevers,Huurwoningen,164.0
15692,Zwolle,2020 1e kwartaal,Totaal opdrachtgevers,Huurwoningen,33.0
15693,Zwolle,2020 2e kwartaal,Totaal opdrachtgevers,Huurwoningen,92.0
15694,Zwolle,2020 3e kwartaal,Totaal opdrachtgevers,Huurwoningen,36.0
15695,Zwolle,2020 4e kwartaal,Totaal opdrachtgevers,Huurwoningen,67.0